# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# https://github.com/AtB-AS/docs-private/blob/main/kundevendt-development-guidelines.md#systemdomain-captains

# App
* @marius-at-atb @jorelosorio @rosvik @strandlie

# Mobile token
/src/mobile-token/ @rosvik @reidzeibel @jorelosorio

# Mobility
/src/mobility/ @rosvik @marius-at-atb @Dahly96

# Bonus
/src/modules/bonus/ @rosvik @marius-at-atb @jorunnl

# Builds and CI
/.github/workflows/ @rosvik @jorelosorio @reidzeibel
/env/ @rosvik @jorelosorio @reidzeibel
/fastlane/ @rosvik @jorelosorio @reidzeibel
/scripts/ @rosvik @jorelosorio @reidzeibel
/tools/ @rosvik @jorelosorio @reidzeibel

# Configuration
/src/configuration/ @rosvik @reidzeibel @jorelosorio

# Tests
/e2e/ @rosvik @tormoseng @hanne-at-atb @reidzeibel

# Native code
/android/ @rosvik @reidzeibel @jorelosorio
/ios/ @rosvik @jorelosorio @reidzeibel
