*.pbxproj -text
# specific for windows script files
*.bat text eol=crlf

# encrypted files/folders
env/** filter=git-crypt diff=git-crypt
.env filter=git-crypt diff=git-crypt
.netrc filter=git-crypt diff=git-crypt
ios/devices.txt filter=git-crypt diff=git-crypt
android/app/src/main/res/values/Intercom.xml filter=git-crypt diff=git-crypt
android/app/google-services.json filter=git-crypt diff=git-crypt
android/app/src/store/google-services.json filter=git-crypt diff=git-crypt
android/app/src/staging/google-services.json filter=git-crypt diff=git-crypt
ios/atb/GoogleService-Info.plist filter=git-crypt diff=git-crypt
