<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- API level higher than 28, you need to explicitly request Manifest.permission.ACTIVITY_RECOGNITION during onboarding. If this doesn't work, you may have to explicitly request com.google.android.gms.permission.ACTIVITY_RECOGNITION instead. -->
    <!-- For more details: https://developer.kogenta.com/docs/react-native/usage#kettle-motion-tracking -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" tools:node="merge"/>
    <application android:name=".BeaconsApplication" tools:replace="android:name" />
</manifest>