// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Config.xcconfig"
#include "../Pods/Target Support Files/Pods-app/Pods-app.debug.xcconfig"
CODE_SIGN_IDENTITY=iPhone Developer
GCC_PREPROCESSOR_DEFINITIONS = $(inherit) IS_WIDGET_ENABLE=$(ENABLE_WIDGET) DEBUG=1 FB_SONARKIT_ENABLED=1
