//
//  MergedConfig.xcconfig
//  atb
//
//  Created by Morten Lundenes on 17/08/2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Config.xcconfig"
#include "../Pods/Target Support Files/Pods-atb/Pods-atb.release.xcconfig"
