<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="no.entur.abt.client.sdk.token.core">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
</manifest>
