name: Build store iOS project
on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  build-ios:
    name: Build iOS
    strategy:
      fail-fast: false
      matrix:
        org: [atb, nfk, fram, troms]
    environment: ${{ matrix.org }}
    timeout-minutes: 360
    runs-on: macOS-26
    env:
      KEYCHAIN_NAME: "CI"
    steps:
      - name: Check if release tag is org specific and exit for other orgs
        if: ${{ (contains(github.ref, 'atb') && matrix.org != 'atb') ||
          (contains(github.ref, 'nfk') && matrix.org != 'nfk') ||
          (contains(github.ref, 'fram') && matrix.org != 'fram') ||
          (contains(github.ref, 'troms') && matrix.org != 'troms') }}
        run: exit 1
      - name: Checkout project
        uses: actions/checkout@v4
      - name: Setup build dependencies, environment and assets
        uses: ./.github/actions/ios-build-setup
        with:
          app-environment: 'store'
          app-org: ${{ matrix.org }}
          git-crypt-key: ${{ secrets.GIT_CRYPT_KEY }}
          entur-registry-user: ${{ vars.ENTUR_REGISTRY_USER }}
          entur-registry-token: ${{ secrets.ENTUR_REGISTRY_TOKEN }}
          match-ssh-private-key: ${{ secrets.MATCH_SSH_PRIVATE_KEY }}
      - name: Disable widget
        if: ${{ env.ENABLE_WIDGET != 'true' }}
        run: bundle exec configure_extensions remove ios/atb.xcodeproj app departureWidget AtbAppIntent
      - name: Enable apple pass suppression
        if: ${{ env.ENABLE_APPLE_PASS_SUPPRESSION == 'true' }}
        run: bundle exec fastlane ios enable_pass_presentation_suppression_entitlement
      - name: Run fastlane build
        run: bundle exec fastlane ios build
        env:
          # A workaround for Github Actions which breaks for a timeout in some cases,
          # so this sets a higher value for TIMEOUT and reduces the number of retries
          FASTLANE_XCODEBUILD_SETTINGS_TIMEOUT: 180
          FASTLANE_XCODEBUILD_SETTINGS_RETRIES: 1
          EXPORT_METHOD: 'app-store'
          GH_ACCESS_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          KEYCHAIN_NAME: ${{ env.KEYCHAIN_NAME }}
      - name: Distribute to TestFlight
        run: |
          echo ${{ secrets.APP_STORE_CONNECT_API_KEY}} | base64 --decode > app-store-connect-api-key.json
          bundle exec fastlane ios testflight_prod
        env:
          APPCONNECT_API_KEY_PATH: app-store-connect-api-key.json
      - name: Setup Bugsnag CLI
        uses: ./.github/actions/setup-bugsnag-cli
      - name: Upload Bugsnag symbols
        uses: ./.github/actions/ios-upload-bugsnag
        with:
          bugsnag-api-key: ${{ secrets.BUGSNAG_API_KEY }}
      - name: Register app version
        run: sh ./scripts/ios/register-app-version.sh
        env:
          ENTUR_PUBLISH_CLIENT: ${{ secrets.ABT_ENTUR_PUBLISH_CLIENT_PRODUCTION}}
