name: Build store Android project
on:
  release:
    types: [published]
  workflow_dispatch: # ONLY FOR DEBUG BUILDS

jobs:
  build-android:
    name: Build Android
    strategy:
      fail-fast: false
      matrix:
        org: [atb, nfk, fram, troms]
    environment: ${{ matrix.org }}
    timeout-minutes: 180
    runs-on: ubuntu-latest
    steps:
      - name: Check if release tag is org specific and exit for other orgs
        if: ${{ (contains(github.ref, 'atb') && matrix.org != 'atb') ||
          (contains(github.ref, 'nfk') && matrix.org != 'nfk') ||
          (contains(github.ref, 'fram') && matrix.org != 'fram') ||
          (contains(github.ref, 'troms') && matrix.org != 'troms') }}
        run: exit 1
      - name: Checkout project
        uses: actions/checkout@v4
      - name: Build setup
        uses: ./.github/actions/android-build-setup
        with:
          app-environment: store
          org: ${{ matrix.org }}
          keystore: ${{ secrets.KEYSTORE }}
          git-crypt-key: ${{ secrets.GIT_CRYPT_KEY }}
          entur-registry-user: ${{ vars.ENTUR_REGISTRY_USER }}
          entur-registry-token: ${{ secrets.ENTUR_REGISTRY_TOKEN }}
      - name: Get Github-release data
        if: matrix.org == 'atb'
        id: get_release
        uses: bruceadams/get-release@v1.3.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Run fastlane build AAB
        run: bundle exec fastlane android build_aab
        env:
          KEYSTORE_PASS: ${{ secrets.KEYSTORE_PASS }}
          KEY_PASS: ${{ secrets.KEYSTORE_KEY_PASS }}
          KEY_ALIAS: ${{ secrets.KEYSTORE_KEY_ALIAS }}
      - name: Distrubute AAB to Google Play Internal Testing
        if: github.event_name != 'workflow_dispatch'
        run: |
          echo ${{ secrets.GOOGLE_PLAY_SERVICE_ACCOUNT}} | base64 --decode > google-play-service-account.json
          bundle exec fastlane android playstore_internal_aab
        env:
          GOOGLE_PLAY_SERVICE_ACCOUNT_PATH: google-play-service-account.json
          ANDROID_PACKAGE_NAME: ${{ env.ANDROID_APPLICATION_ID }}
      - name: Setup Bugsnag CLI
        uses: ./.github/actions/setup-bugsnag-cli
      - name: Upload Bugsnag symbols
        if: github.event_name != 'workflow_dispatch'
        uses: ./.github/actions/android-upload-bugsnag
        with:
          bugsnag-api-key: ${{ secrets.BUGSNAG_API_KEY }}
      - name: Register app version
        if: github.event_name != 'workflow_dispatch'
        run: bash ./scripts/android/register-app-version.sh
        env:
          ENTUR_PUBLISH_CLIENT: ${{ secrets.ABT_ENTUR_PUBLISH_CLIENT_PRODUCTION }}
          DISABLE_LISTED_ON_PLAY_STORE: false
