name: Build staging Android project
on:
  workflow_dispatch:
    inputs:
      force-build:
        description: 'Forces a new build and ignores the cache'
        required: false
        type: choice
        default: 'false'
        options:
          - 'true'
          - 'false'
      org:
        description: 'Which orgs to build (comma-separated, blank=all)'
        required: false
        type: string
        default: 'atb,nfk,fram,troms'
      abi:
        description: 'Which architecture to build (comma-separated, blank=arm64-v8a,armeabi-v7a)'
        required: false
        type: string
        default: 'armeabi-v7a,arm64-v8a,x86,x86_64'
      output-type:
        description: 'Which output to build (defaults to APK, AAB is only for build test!)'
        required: false
        type: choice
        default: 'APK'
        options:
          - 'APK'
          - 'AAB'
  push:
    branches:
      - master
      - release/**
  schedule:
    - cron: '0 1 * * 1-5'

permissions:
  contents: read

jobs:
  detect-changes:
    name: Detect changes
    runs-on: ubuntu-latest
    outputs:
      should_build: ${{ steps.detect.outputs.should_build || inputs.force-build == 'true' }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Detect change after checkout
        id: detect
        uses: ./.github/actions/detect-changes

  setup:
    needs: detect-changes
    if: needs.detect-changes.outputs.should_build == 'true'
    name: Install tools and warm up caches
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
      abi: ${{ steps.set-abi.outputs.abi}}
      abi-filename: ${{ steps.set-abi.outputs.abi_filename}}
    steps:
      - id: set-matrix
        run: |
          ORG_INPUT="${{ inputs.org }}"
          ORG_INPUT="${ORG_INPUT:-atb,nfk,fram,troms}"
          MATRIX=$(echo "$ORG_INPUT" | tr -d ' ' | jq -Rc 'split(",")')
          echo "matrix=$MATRIX" >> $GITHUB_OUTPUT
      - id: set-abi
        run: |
          if [ "${{ github.event_name }}" = "schedule" ]; then
            ABI_INPUT="armeabi-v7a,arm64-v8a,x86,x86_64"
          else
            ABI_INPUT="${{ inputs.abi }}"
            ABI_INPUT="${ABI_INPUT// /}"
            ABI_INPUT="${ABI_INPUT:-arm64-v8a,armeabi-v7a}"
          fi
          ABI_SORTED=$(echo "$ABI_INPUT" | tr ',' '\n' | sort | paste -sd ',')
          ABI_FILENAME=$(echo "$ABI_SORTED" | tr ',' '-')
          echo "abi=$ABI_INPUT" >> $GITHUB_OUTPUT
          echo "abi_filename=$ABI_FILENAME" >> $GITHUB_OUTPUT
      - name: Checkout project
        uses: actions/checkout@v4
      # ===== Install & Cache APKTool =====
      - name: Cache APKTool
        uses: actions/cache@v4
        id: apktool-cache
        with:
          lookup-only: true
          path: ~/apktool
          key: apktool-2.12.1
      - name: Install APKTool
        if: steps.apktool-cache.outputs.cache-hit != 'true'
        run: |
          mkdir -p ~/apktool
          wget https://raw.githubusercontent.com/iBotPeaches/Apktool/master/scripts/linux/apktool -O ~/apktool/apktool
          wget https://github.com/iBotPeaches/Apktool/releases/download/v2.12.1/apktool_2.12.1.jar -O ~/apktool/apktool.jar
          chmod +x ~/apktool/apktool
      # ===== Install & Cache node-modules  =====
      - name: Cache node_modules
        uses: actions/cache@v4
        id: modules-cache
        with:
          lookup-only: ${{ inputs.force-build != 'true' }}
          path: '**/node_modules'
          key: node-modules-${{ hashFiles('**/yarn.lock') }}-${{ hashFiles('**/patches/**.patch') }}
      - name: Install node v22
        uses: actions/setup-node@v5
        if: inputs.force-build == 'true' || steps.modules-cache.outputs.cache-hit != 'true'
        with:
          node-version: 22
          cache: 'yarn'
      - name: Add Entur private registry credentials
        shell: bash
        if: inputs.force-build == 'true' || steps.modules-cache.outputs.cache-hit != 'true'
        run: bash ./scripts/add-entur-private-registry.sh
        env:
          ENTUR_REGISTRY_USER: ${{ vars.ENTUR_REGISTRY_USER }}
          ENTUR_REGISTRY_TOKEN: ${{ secrets.ENTUR_REGISTRY_TOKEN }}
      - name: Install node_modules
        if: inputs.force-build == 'true' || steps.modules-cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile
      # ===== Ruby & Bundler =====
      - name: Setup ruby and bundle install
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1.0
          cache-version: 2
          bundler-cache: true

  build:
    needs: setup
    name: Build Android (${{ matrix.org }})
    strategy:
      fail-fast: false
      matrix:
        org: ${{ fromJson(needs.setup.outputs.matrix) }}
    environment: ${{ matrix.org }}
    timeout-minutes: 180
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get potential cached APK
        uses: actions/cache@v4
        if: inputs.force-build != 'true'
        id: apk-cache
        with:
          path: app-staging.apk
          key: ${{ matrix.org }}-apk-cache-${{needs.setup.outputs.abi-filename}}-${{ hashFiles('android/**', '**/yarn.lock', '**/patches/**/*.patch', '.env') }}

      - name: Pre-build steps
        uses: ./.github/actions/android-pre-build-steps-staging
        with:
          org: ${{ matrix.org }}
          force-build: ${{ inputs.force-build }}
          cache-read-only: ${{ matrix.org != 'atb' }}
          gradle-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
          keystore: ${{ secrets.KEYSTORE }}
          git-crypt-key: ${{ secrets.GIT_CRYPT_KEY }}
          entur-registry-user: ${{ vars.ENTUR_REGISTRY_USER }}
          entur-registry-token: ${{ secrets.ENTUR_REGISTRY_TOKEN }}
          can-skip: ${{ steps.apk-cache.outputs.cache-hit }}

      - name: Override version name on staging build
        shell: bash
        env:
          BRANCH_NAME: ${{ github.ref_name }}
        run: bash ./scripts/set-version-name.sh

      - name: Detect dependency changes
        uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            deps:
              - 'package.json'
              - 'package-lock.json'
              - 'android/app/build.gradle'
              - 'android/build.gradle'

      - name: Run fastlane build
        if: inputs.force-build == 'true' || steps.apk-cache.outputs.cache-hit != 'true'
        run: bundle exec fastlane android ${{ inputs.output-type == 'AAB' && 'build_aab' || 'build' }}
        env:
          KEYSTORE_PASS: ${{ secrets.KEYSTORE_PASS }}
          KEY_PASS: ${{ secrets.KEYSTORE_KEY_PASS }}
          KEY_ALIAS: ${{ secrets.KEYSTORE_KEY_ALIAS }}
          SKIP_CLEAN: ${{ steps.changes.outputs.deps != 'true' }}
          ABI: ${{ needs.setup.outputs.abi }}
          # CCACHE_DIR: ~/.cache/ccache
          # USE_CCACHE: 1
          # NDK_CCACHE: /usr/bin/ccache

      - name: Restore APKTool cache
        if: inputs.output-type != 'AAB'
        uses: actions/cache@v4
        with:
          path: ~/apktool
          key: apktool-2.12.1

      - name: Add APKTool to PATH
        if: inputs.output-type != 'AAB'
        run: echo "$HOME/apktool" >> $GITHUB_PATH

      - name: Generate release notes
        id: release-notes
        if: inputs.output-type != 'AAB'
        env:
          BRANCH_NAME: ${{ github.ref_name }}
          OUTPUT_FILE: ./release-notes.txt
        run: bash ./scripts/generate-staging-release-notes.sh

      - name: Post-build steps
        if: inputs.output-type != 'AAB'
        uses: ./.github/actions/android-post-build-steps-staging
        with:
          should-replace-bundle: ${{ inputs.force-build != 'true' && steps.apk-cache.outputs.cache-hit == 'true'}}
          keystore-pass: ${{ secrets.KEYSTORE_PASS }}
          keystore-key-pass: ${{ secrets.KEYSTORE_KEY_PASS }}
          keystore-key-alias: ${{ secrets.KEYSTORE_KEY_ALIAS }}
          firebase-distribution-credentials: ${{ secrets.FIREBASE_DISTRIBUTION_CREDENTIALS}}
          firebase-app-id: ${{ secrets.FIREBASE_APP_ID }}
          bugsnag-api-key: ${{ secrets.BUGSNAG_API_KEY }}
          abt-entur-publish-client-staging: ${{ secrets.ABT_ENTUR_PUBLISH_CLIENT_STAGING }}
