name: Build staging Android project
on:
  workflow_dispatch:
    inputs:
      force-build:
        description: 'Forces a new build and ignores the cache'
        required: false
        type: choice
        default: 'false'
        options:
          - 'true'
          - 'false'
  push:
    branches:
      - master
      - release/**

permissions:
  contents: read

jobs:

  setup:
    name: Install tools
    runs-on: ubuntu-latest
    steps:
      - name: Cache APKTool
        uses: actions/cache@v4
        id: apktool-cache
        with:
          path: /usr/local/bin/apktool*
          key: apktool-2.12.1

      - name: Install APKTool
        if: steps.apktool-cache.outputs.cache-hit != 'true'
        run: |
          wget -q https://raw.githubusercontent.com/iBotPeaches/Apktool/master/scripts/linux/apktool -O /usr/local/bin/apktool
          wget -q https://bitbucket.org/iBotPeaches/apktool/downloads/apktool_2.12.1.jar -O /usr/local/bin/apktool.jar
          chmod +x /usr/local/bin/apktool

  build-atb:
    needs: setup
    name: Build Android (AtB)
    environment: atb
    timeout-minutes: 180
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Pre-build steps
        uses: ./.github/actions/android-pre-build-steps
        with:
          org: atb
          force-build: ${{ inputs.force-build }}
          cache-read-only: 'false'
          gradle-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
          keystore: ${{ secrets.KEYSTORE }}
          git-crypt-key: ${{ secrets.GIT_CRYPT_KEY }}
          entur-registry-user: ${{ vars.ENTUR_REGISTRY_USER }}
          entur-registry-token: ${{ secrets.ENTUR_REGISTRY_TOKEN }}

      - name: Detect dependency changes
        uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            deps:
              - 'package.json'
              - 'package-lock.json'
              - 'android/app/build.gradle'
              - 'android/build.gradle'

      - name: Run fastlane build
        run: bundle exec fastlane android build
        env:
          KEYSTORE_PASS: ${{ secrets.KEYSTORE_PASS }}
          KEY_PASS: ${{ secrets.KEYSTORE_KEY_PASS }}
          KEY_ALIAS: ${{ secrets.KEYSTORE_KEY_ALIAS }}
          SKIP_CLEAN: ${{ steps.changes.outputs.deps != 'true' }}
          CCACHE_DIR: ~/.cache/ccache
          USE_CCACHE: 1
          NDK_CCACHE: /usr/bin/ccache

      - name: Restore APKTool cache
        uses: actions/cache@v4
        with:
          path: /usr/local/bin/apktool*
          key: apktool-2.12.1
      
      - name: Post-build steps
        uses: ./.github/actions/android-post-build-steps
        with:
          keystore-pass: ${{ secrets.KEYSTORE_PASS }}
          keystore-key-pass: ${{ secrets.KEYSTORE_KEY_PASS }}
          keystore-key-alias: ${{ secrets.KEYSTORE_KEY_ALIAS }}
          firebase-distribution-credentials: ${{ secrets.FIREBASE_DISTRIBUTION_CREDENTIALS}}
          firebase-app-id: ${{ secrets.FIREBASE_APP_ID }}
          bugsnag-api-key: ${{ secrets.BUGSNAG_API_KEY }}
          abt-entur-publish-client-staging: ${{ secrets.ABT_ENTUR_PUBLISH_CLIENT_STAGING }}

  build-oms:
    name: Build Android (${{ matrix.org }})
    strategy:
      fail-fast: false
      matrix:
        org: [nfk, fram, troms]
    environment: ${{ matrix.org }}
    timeout-minutes: 180
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Pre-build steps
        uses: ./.github/actions/android-pre-build-steps
        with:
          org: ${{ matrix.org }}
          force-build: ${{ inputs.force-build }}
          cache-read-only: ${{ matrix.org != 'fram' }}
          gradle-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
          keystore: ${{ secrets.KEYSTORE }}
          git-crypt-key: ${{ secrets.GIT_CRYPT_KEY }}
          entur-registry-user: ${{ vars.ENTUR_REGISTRY_USER }}
          entur-registry-token: ${{ secrets.ENTUR_REGISTRY_TOKEN }}

      - name: Detect dependency changes
        uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            deps:
              - 'package.json'
              - 'package-lock.json'
              - 'android/app/build.gradle'
              - 'android/build.gradle'

      - name: Run fastlane build
        run: bundle exec fastlane android build
        env:
          KEYSTORE_PASS: ${{ secrets.KEYSTORE_PASS }}
          KEY_PASS: ${{ secrets.KEYSTORE_KEY_PASS }}
          KEY_ALIAS: ${{ secrets.KEYSTORE_KEY_ALIAS }}
          SKIP_CLEAN: ${{ steps.changes.outputs.deps != 'true' }}
          CCACHE_DIR: ~/.cache/ccache
          USE_CCACHE: 1
          NDK_CCACHE: /usr/bin/ccache

      - name: Restore APKTool cache
        uses: actions/cache@v4
        with:
          path: /usr/local/bin/apktool*
          key: apktool-2.12.1

      - name: Post-build steps
        uses: ./.github/actions/android-post-build-steps
        with:
          keystore-pass: ${{ secrets.KEYSTORE_PASS }}
          keystore-key-pass: ${{ secrets.KEYSTORE_KEY_PASS }}
          keystore-key-alias: ${{ secrets.KEYSTORE_KEY_ALIAS }}
          firebase-distribution-credentials: ${{ secrets.FIREBASE_DISTRIBUTION_CREDENTIALS}}
          firebase-app-id: ${{ secrets.FIREBASE_APP_ID }}
          bugsnag-api-key: ${{ secrets.BUGSNAG_API_KEY }}
          abt-entur-publish-client-staging: ${{ secrets.ABT_ENTUR_PUBLISH_CLIENT_STAGING }}
