name: E2E tests on Android
on:
  workflow_dispatch:
    inputs:
      api_level:
        description: 'Define API level'
        required: true
        default: 30
      system_image:
        description: 'Define system image'
        type: choice
        required: true
        default: 'default'
        options:
          - 'default'
          - 'google_apis'
          - 'google_apis_playstore'
      branch:
        description: 'Define branch to test'
        required: true
        default: 'master'
  #schedule:
  #  - cron: '0 6 * * 1-5'

jobs:
  check-builds:
    name: Check for builds
    runs-on: ubuntu-latest
    environment: atb
    outputs:
      APK_IS_AVAILABLE: ${{ steps.check-output.outputs.APK_IS_AVAILABLE}}
      TESTED_VERSION: ${{ steps.check-output.outputs.TESTED_VERSION}}
      APK_DOWNLOAD_URL: ${{ steps.check-output.outputs.APK_DOWNLOAD_URL}}
    steps:
      # Setup
      - name: Set env variables
        run: echo "JAVA_HOME=$JAVA_HOME_17_X64" >> $GITHUB_ENV
      - name: Checkout project
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch || 'master' }}
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
          cache: 'pip'
          cache-dependency-path: '**/requirements.txt'
      - name: Install Python packages
        run: |
          pip install -r e2e/firestore/requirements.txt
      # Check for APK built today
      - name: Check for Firebase AppDistribution APK
        id: check-appdistribution-apk
        run: python check-appdistribution-apk.py
        working-directory: e2e/firestore
        env:
          CREDENTIALS_APITESTER: ${{ secrets.CREDENTIALS_APITESTER }}
          IS_GITHUB: 'True'
      - name: APK output
        id: check-output
        run: |
          echo "APK_IS_AVAILABLE=${{ env.APK_IS_AVAILABLE }}" >> $GITHUB_OUTPUT
          echo "TESTED_VERSION=${{ env.TESTED_VERSION }}" >> $GITHUB_OUTPUT
          echo "APK_DOWNLOAD_URL=${{ env.APK_DOWNLOAD_URL }}" >> $GITHUB_OUTPUT

  run_tests:
    needs: check-builds
    if: needs.check-builds.outputs.APK_IS_AVAILABLE == 'true'
    name: Run E2E tests
    runs-on: ubuntu-latest
    environment: atb
    timeout-minutes: 90
    env:
      ENV_API_LEVEL: ${{ github.event.inputs.api_level || '30' }}
      ENV_SYSTEM_IMAGE: ${{ github.event.inputs.system_image || 'default' }}
    steps:
      # Setup
      - name: Set env variables
        run: echo "JAVA_HOME=$JAVA_HOME_17_X64" >> $GITHUB_ENV
      - name: Checkout project
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch || 'tor/e2e' }}
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
          cache: 'pip'
          cache-dependency-path: '**/requirements.txt'
      - name: Install Python packages
        run: |
          pip install -r e2e/firestore/requirements.txt
      - name: Clean up runner
        uses: ./.github/actions/android-build-cleanup-runner
      # Download APK
      - name: Get Firebase AppDistribution APK
        id: get-appdistribution-apk
        run: python get-appdistribution-apk.py
        working-directory: e2e/firestore
        env:
          CREDENTIALS_APITESTER: ${{ secrets.CREDENTIALS_APITESTER }}
          TESTED_VERSION: ${{ needs.check-builds.outputs.TESTED_VERSION }}
          APK_DOWNLOAD_URL: ${{ needs.check-builds.outputs.APK_DOWNLOAD_URL }}

      # E2E init
      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
      #  run: npm install -g appium
      #  run: appium driver install uiautomator2
      - name: Add Entur private registry credentials
        run: bash ./scripts/add-entur-private-registry.sh
        env:
          ENTUR_REGISTRY_USER: ${{ vars.ENTUR_REGISTRY_USER }}
          ENTUR_REGISTRY_TOKEN: ${{ secrets.ENTUR_REGISTRY_TOKEN }}
      - name: Install E2E tests
        working-directory: e2e
        run: yarn install
      - name: tsc
        working-directory: e2e
        run: ./node_modules/typescript/bin/tsc --noEmit --noErrorTruncation --pretty false --incremental false

      # Emulator cache
      - name: Gradle cache
        if: env.ENV_SYSTEM_IMAGE == 'default'
        uses: gradle/actions/setup-gradle@v3
      - name: AVD cache
        if: env.ENV_SYSTEM_IMAGE == 'default'
        uses: actions/cache@v4
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-pixel_5-${{ env.ENV_SYSTEM_IMAGE }}-${{ env.ENV_API_LEVEL }}
      - name: create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true' || env.ENV_SYSTEM_IMAGE != 'default'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          avd-name: emulator-${{ env.ENV_SYSTEM_IMAGE }}-api${{ env.ENV_API_LEVEL }}
          api-level: ${{ env.ENV_API_LEVEL }}
          arch: x86_64
          target: ${{ env.ENV_SYSTEM_IMAGE }}
          profile: pixel_5
          emulator-build: 12414864
          emulator-boot-timeout: 900
          disable-spellchecker: true
          script: echo "Generated AVD snapshot for caching."

      # E2E run
      - name: Run tests on Android emulator
        uses: reactivecircus/android-emulator-runner@v2
        with:
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          avd-name: emulator-api${{ env.ENV_API_LEVEL }}
          api-level: ${{ env.ENV_API_LEVEL }}
          arch: x86_64
          target: ${{ env.ENV_SYSTEM_IMAGE }}
          profile: pixel_5
          emulator-build: 12414864
          emulator-boot-timeout: 900
          disable-spellchecker: true
          script: yarn test:android:smoke
          working-directory: e2e
        env:
          APP_PATH: ${{ github.workspace }}
          IS_CI: 'true'

      # Slack
      - name: Notify Slack
        if: always()
        run: |
          ./e2e/results/slack_notification.sh ${{ secrets.ATB_SLACK_TOKEN }} e2e_tests ${{ github.run_id }} smoke

      # Results
      - name: Fail on any errors
        if: always()
        run: |
          if find e2e/results -maxdepth 1 -name "errors.log" | grep -q .; then
            echo "### ⚠️ Test errors" >> $GITHUB_STEP_SUMMARY
            echo "" >> $GITHUB_STEP_SUMMARY
            echo "See more details in the workflow" >> $GITHUB_STEP_SUMMARY
            echo "⚠️ Errors are found, failing the job."
            cat e2e/results/errors.log
            exit 1
          else
            echo "✅ All good!" >> $GITHUB_STEP_SUMMARY
            echo "✅ All good!"
          fi

      # Upload results
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: |
            ./e2e/results/*.xml
            ./e2e/results/results-mochawesome.json
          retention-days: 3

      - name: Upload performance measures
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: performance-results
          path: ./e2e/results/performance-results/performance-log.txt
          retention-days: 3

      - name: Upload screenshots
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-screenshots
          path: ./e2e/screenshots/*.png
          retention-days: 1
