name: Update devices
on:
  push:
    branches:
      - 'jorelosorio/update-new-devices'
  workflow_dispatch:
    inputs:
      org:
        description: 'App organization to update provisioning profiles for'
        required: true
        type: choice
        options:
          - atb
          - fram
          - nfk
      match-type:
        description: 'Update provisioning profiles for which environment?'
        required: true
        type: choice
        options:
          - development
          - adhoc
jobs:
  update-devices:
    name: Update new devices and provisioning profiles
    environment: 'atb'
    timeout-minutes: 180
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v1
      - name: Set global env vars
        run: echo "/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin" >> $GITHUB_PATH
      - name: Decrypt env files
        run: sh ./scripts/git-crypt-unlock.sh
        env:
          GIT_CRYPT_KEY: ${{ secrets.GIT_CRYPT_KEY }}
      - name: Copy env files
        run: cp env/atb/dev/.env fastlane/.env.default
      - name: Setup ruby and bundle install
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7.6'
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Run fastlane generate provisioning profiles
        run: bundle exec fastlane ios update_devices
        env:
          IOS_DEVICES_FILE: 'env/atb/ios-devices.txt'
          FASTLANE_MATCH_TYPE: "development"
          GH_ACCESS_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
